extends layout

block pageContent
    br
    .container
        //h2 Оплата
        .panel.panel-primary
          .panel-heading
            h3.panel-title Оплата
          ul.list-group
            li.list-group-item Заплатите на киви с комментарием "ВАШ_MAC-АДРЕС"
            li.list-group-item Напишите нам, что вы заплатили и укажите ваш MAC-адрес